.lang-menu {
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 99;
    left: 10px;
    top: 10px;
}
.lang {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    a {
        list-style: none;
    }
    img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: transparent;
    }
}

  .animation {
      color: white;
      font-size: 50px;   
      transition: 3s;
      letter-spacing: 4px;
      position: absolute;
      left: 30%;
      top: 30%;
      text-align: center;   
      border-bottom: 0;   
      animation: animation 10s infinite linear ;    
      p {
          font-size: 18px;
          font-weight: 800;
          text-align: center;
      }
  }
 

  @keyframes animation {
    0% {   
        opacity: 0; 
    }  
    50% {
        opacity: 1;
    } 
    100% {  
        opacity: 1;    
    }
  }