<div class="fundamental">
    <header class="header">
        <div class="mute-video">

        </div>
        <ul class="main-menu">
            <li class="main-menu__item">Start</li>
            <li class="main-menu__item">Über uns</li>
            <li class="main-menu__item">Karriere</li>
            <li class="main-menu__item">Aktuelles</li>
            <li class="main-menu__item">Kontakt</li>
        </ul>

        <div class="main-video">
            <video class="video-top" [muted]="true" autoplay="autoplay" loop>
                <source src="../assets/videos/Digital Transormation Version Final English.mp4" type="video/mp4" />
                <p>Your browser doesn't support to the video.</p>
            </video>

        </div>
        <div class="arrow-top">
            <label class="arrow-big"></label>
        </div>
    </header>
    <main class="main">
        <div class="rubric rubric_background-dark rubric_color-white">
            <div class="rubric-text">
                <h3>WILLKOMMEN</h3>
                Seit über 15 Jahren setzen wir IT-Projekte, z. B. in der Industrie oder der Telekommunikations-,
                Logistik- oder Finanzbranche, erfolgreich um. Wir bei axxessio sind auf die Implementierung der
                digitalen Transformation spezialisiert. Unser Erfolgskonzept beruht auf unserem Gespür für Innovationen
                in Kombination mit unserer Leidenschaft für IT.
            </div>
        </div>
        <div class="wrapper">
            <div class="rubric">
                <div class="rubric-text">
                    <h3>KOMPETENZEN</h3>
                    Wir gestalten zusammen mit unseren Kunden die digitale Transformation. Gemeinsam nutzen wir digitale
                    Potenziale und unterstützen bei der Erschließlung neuer Geschäftsmodelle. Dabei fokussieren wir uns
                    auf unsere sechs Kompetenzen:
                </div>
            </div>
            <div class="group-card">
                <div class="wrapper-card wrapper-card_voice">
                    <div class="round-card">
                        <div class="card-white">
                            <div class="icon-card">
                                <img src="../assets/images/Voice_Icon_01.gif" />
                            </div>
                            <div class="info-card">
                                <div class="name-card">
                                    <h4>Voice Recognition</h4>
                                </div>
                                <div class="description-card">
                                    Nutzen Sie das Potenzial der Spracheingabe entlang Ihrer Prozesse
                                </div>
                            </div>
                        </div>
                        <div class="card-dark">
                            <div class="info-card info-card_down">
                                <div class="name-card">
                                    <h4>Voice Recognition</h4>
                                </div>
                                <div class="description-card">
                                    Nutzen Sie das Potenzial der Spracheingabe entlang Ihrer Prozesse
                                </div>
                                <button class="more-info__btn">Mehr Erfahren ></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrapper-card wrapper-card_industry">
                    <div class="round-card">
                        <div class="card-white">
                            <div class="icon-card">
                                <img src="../assets/images/Industry_Icon_02.gif" />
                            </div>
                            <div class="info-card">
                                <div class="name-card">
                                    <h4>IOT/ Industry 4.0</h4>
                                </div>
                                <div class="description-card">
                                    Mit Hilfe der digitalen Transformation können Abläufe automatisiert und freie
                                    Ressourcen optimal genutzt werden
                                </div>
                            </div>
                        </div>
                        <div class="card-dark">
                            <div class="info-card info-card_down">
                                <div class="name-card">
                                    <h4>IOT/Industry 4.0</h4>
                                </div>
                                <div class="description-card">
                                    With the help of digital transformation, processes can be automated and free
                                    resources can be used
                                    optimally
                                </div>
                                <button class="more-info__btn">Mehr Erfahren ></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="wrapper-card wrapper-card_smart">
                    <div class="round-card">
                        <div class="card-white">
                            <div class="icon-card">
                                <img src="../assets/images/SmartCity_Icon_03.gif" />
                            </div>
                            <div class="info-card">
                                <div class="name-card">
                                    <h4>Smart City</h4>
                                </div>
                                <div class="description-card">
                                    Lassen Sie uns Städte und Regionen gemeinsam digitalisieren
                                </div>
                            </div>
                        </div>
                        <div class="card-dark">
                            <div class="info-card info-card_down">
                                <div class="name-card">
                                    <h4>Smart City</h4>
                                </div>
                                <div class="description-card">
                                    Lassen Sie uns Städte und Regionen gemeinsam digitalisieren
                                </div>
                                <button class="more-info__btn">Mehr Erfahren ></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrapper-card wrapper-card_intellig">
                    <div class="round-card">
                        <div class="card-white">
                            <div class="icon-card">
                                <img src="../assets/images/Intelligence_Icon_04.gif" />
                            </div>
                            <div class="info-card">
                                <div class="name-card">
                                    <h4>ARrtifical Intelligence</h4>
                                </div>
                                <div class="description-card">
                                    Beschleunigen Sie Ihre Arbeitsabläufe durch die Nutzung künstlicher Intelligenz
                                </div>
                            </div>
                        </div>
                        <div class="card-dark">
                            <div class="info-card info-card_down">
                                <div class="name-card">
                                    <h4>ARrtifical Intelligence</h4>
                                </div>
                                <div class="description-card">
                                    Beschleunigen Sie Ihre Arbeitsabläufe durch die Nutzung künstlicher Intelligenz
                                </div>
                                <button class="more-info__btn">Mehr Erfahren ></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="wrapper-card wrapper-card_management">
                    <div class="round-card">
                        <div class="card-white">
                            <div class="icon-card">
                                <img src="../assets/images/Management_Icon_05.gif" />
                            </div>
                            <div class="info-card">
                                <div class="name-card">
                                    <h4>Identity Management</h4>
                                </div>
                                <div class="description-card">
                                    Schützen Sie Ihre Daten mit Hilfe von digitalen Zugangs- und Identitätskontrollen
                                </div>
                            </div>
                        </div>
                        <div class="card-dark">
                            <div class="info-card info-card_down">
                                <div class="name-card">
                                    <h4>Identity Management</h4>
                                </div>
                                <div class="description-card">
                                    Schützen Sie Ihre Daten mit Hilfe von digitalen Zugangs- und Identitätskontrollen
                                </div>
                                <button class="more-info__btn">Mehr Erfahren ></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrapper-card wrapper-card_security">
                    <div class="round-card">
                        <div class="card-white">
                            <div class="icon-card">
                                <img src="../assets/images/IT_Security_Icon_06.gif" />
                            </div>
                            <div class="info-card">
                                <div class="name-card">
                                    <h4>IT Security</h4>
                                </div>
                                <div class="description-card">
                                    Schützen Sie Ihre IT-Systeme und Ihr Netzwerk an Informationen
                                </div>
                            </div>
                        </div>
                        <div class="card-dark">
                            <div class="info-card info-card_down">
                                <div class="name-card">
                                    <h4>IT Security</h4>
                                </div>
                                <div class="description-card">
                                    Schützen Sie Ihre IT-Systeme und Ihr Netzwerk an Informationen
                                </div>
                                <button class="more-info__btn">Mehr Erfahren ></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrapper-video">
                <video class="video-part" autoplay loop>
                    <source src="../assets/videos/Startseite_Unten.mp4" type="video/mp4" />
                    <p>Your browser doesn't support to the video.</p>
                </video>
            </div>
            <div class="rubric">
                <div class="rubric-text">
                    <h3>SERVICES</h3>
                    Wir unterstützen Sie dabei, Optimierungspotenziale im Umfeld der digitalen Transformation
                    umzusetzen.
                    Dabei greifen wir auf bewährte Werkzeuge sowie langjährige Expertise zurück.
                </div>
            </div>

            <div class="group-service">
                <div class="box-service">
                    <div class="image-service">
                        <img src="../assets/images/Consulting.jpg" />
                    </div>
                    <div class="info-card">
                        <div class="name-card">
                            <h4>Digital consulting & innovation</h4>
                        </div>
                        <div class="description-card">
                            Profitieren Sie von unserer langjährigen Erfahrung, um Ihre unternehmerischen Ziele mit
                            Hilfe der digitalen Transformation, erfolgreich umzusetzen. Von der Strategie über die
                            Planung, bis hin zur Umsetzung stehen wir Ihnen aktiv zur Seite.
                        </div>
                        <button class="more-info__btn more-info__btn_white more-info__btn_hover">Mehr Erfahren
                            ></button>
                    </div>
                </div>
                <div class="box-service">
                    <div class="image-service">
                        <img src="../assets/images/Software-Enginering.jpg" />
                    </div>
                    <div class="info-card">
                        <div class="name-card">
                            <h4>Software engineering</h4>
                        </div>
                        <div class="description-card">
                            Wir unterstützen Sie bei der Umsetzung Ihres Projektes von der Architektur über die
                            Implementierung bis hin zur Wartung. Die Nutzung agiler Vorgehensmodelle stellt dabei
                            sicher, dass wir in einem engen Austausch miteinander arbeiten.
                        </div>
                        <button class="more-info__btn more-info__btn_white more-info__btn_hover">Mehr Erfahren
                            ></button>
                    </div>
                </div>
            </div>
            <div class="customers">
                <h3>AUSGEWÄHLTE KUNDEN</h3>
                <div class="wrapper-logo">
                    <img class="logo-customer" src="../assets/images/logos/Watt_logo.svg"
                        alt="Logo Watt Energie für Unternehmen">
                    <img class="logo-customer" src="../assets/images/logos/HRS_Hotelportal_logo.png"
                        alt=" Logo HRS Hotelportal ">
                    <img class="logo-customer" src="../assets/images/logos/Telekom_logo.svg" alt="Logo Telekom">
                    <img class="logo-customer" src="../assets/images/logos/DHL_logo.svg" alt="Logo DHL">
                    <img class="logo-customer" src="../assets/images/logos/Deutsche_Bank-logo.svg"
                        alt="Logo Deutsche Bank">
                    <img class="logo-customer" src="../assets/images/logos/Deutsche_Post_logo.png"
                        alt="Logo Deutsche Post">
                    <img class="logo-customer" src="../assets/images/logos/beethoven_logo.png"
                        alt="Logo Beethoven 2020">
                    <img class="logo-customer" src="../assets/images/logos/intrum_logo.png" alt="Logo Intrum">
                    <img class="logo-customer" src="../assets/images/logos/cgm_logo.png" alt="Logo CGM">
                    <img class="logo-customer" src="../assets/images/logos/DLR_logo.svg" alt="Logo DLR">
                    <img class="logo-customer" src="../assets/images/logos/Bonn_logo.svg"
                        alt="Logo Stadt City Ville Bonn">
                    <img class="logo-customer" src="../assets/images/logos/Sanner_logo.svg"
                        alt="Logo Scanner plasctiv packaging colutions">
                    <img class="logo-customer" src="../assets/images/logos/T-Systems-logo.svg" alt="Logo T-Systems">
                    <img class="logo-customer" src="../assets/images/logos/Deutsche_Bundesbank_logo.svg"
                        alt="Logo Deutsche Bundesbank">
                    <img class="logo-customer" src="../assets/images/logos/Vaillant-logo.svg" alt="Logo Vaillant">
                    <img class="logo-customer logo-customer_bigger" src="../assets/images/logos/changying_logo.jpeg"
                        alt="Logo CHangying Xinzhi Technology Co.,Ltd">
                    <img class="logo-customer" src="../assets/images/logos/yinlun_logo.png" alt="Logo yinlun Co.,Ltd">
                </div>
            </div>
            <div class="wrapper-video">
                <video class="video-part" autoplay loop>
                    <source src="../assets/videos/Startseite_Oben.mp4" type="video/mp4" />
                    <p>Your browser doesn't support to the video.</p>
                </video>
            </div>

        </div>
        <section>
            <div></div>
        </section>
    </main>
    <footer class="footer">
        <div class="wrapper-footer">

            <div class="address">
                <p class="addresss__city">Bonn (Hauptsitz)</p>
                <p>axxessio GmbH</p>
                <p>Kürstenallee 5 • 53177 Bonn</p>
            </div>

            <div class="contact">
                <p>Phone +49 228 - 76 36 31 0</p>
                <p> Fax +49 228 - 76 36 31 3</p>
                <p>E-Mail info [at] axxessio.com</p>
            </div>
            <div class="wrapper-button">
                <button class="more-info__btn more-info__btn_brown">Anfahrtsbeschreibung></button>
            </div>
        </div>
        <div class="wrapper-footer">

            <div class="address">
                <p class="addresss_city">Darmstadt (Niederlassung)</p>
                <p>axxessio GmbH</p>
                <p>Hilpertstraße 20 • 64295 Darmstadt</p>
            </div>

            <div class="contact">
                <p>Phone +49 61 51 - 78 90 0</p>
                <p>Fax +49 61 51 - 78 90 23 0</p>
                <p>E-Mail info [at] axxessio.com</p>
            </div>
            <div class="wrapper-button">
                <button class="more-info__btn more-info__btn_brown">Anfahrtsbeschreibung ></button>
            </div>
        </div>
    </footer>
</div>
<div class="wrapper-cookie" *ngIf="isCookie">
    <p>
        Like almost all other websites, we use cookies - but only the technically necessary ones. By continuing to use
        the
        website, you agree to the use of cookies. You can find more information in our <a href="#">imprint</a>.</p>
    <div class="square-small" (click)="save()"><label class="arrow"></label></div>

</div>