<div class="fundamental">
  <header class="header">
    <div class="mute-video">

    </div>
    <ul class="main-menu">
      <li class="main-menu__item">Start</li>
      <li class="main-menu__item">About us</li>
      <li class="main-menu__item">Career</li>
      <li class="main-menu__item">News</li>
      <li class="main-menu__item">Contact</li>
    </ul>

    <div class="main-video">
      <video class="video-top" [muted]="true" autoplay="autoplay" loop>
        <source src="../assets/videos/Digital Transormation Version Final English.mp4" type="video/mp4" />
        <p>Your browser doesn't support to the video.</p>
      </video>
    </div>
    <div class="arrow-top">
      <label class="arrow-big"></label>
    </div>
  </header>
  <main class="main">
    <div class="rubric rubric_background-dark rubric_color-white">
      <div class="rubric-text">
        <h3>WELCOME</h3>
        For more than 15 years, we have been successfully implementing IT projects in industry, telecommunications,
        logistics and finance sectors. At axxessio, we specialize in the implementation of digital transformation. Our
        concept for success is based on our sense for innovation combined with our passion for IT.
      </div>
    </div>
    <div class="wrapper">
      <div class="rubric">
        <div class="rubric-text">
          <h3>COMPETENCIES</h3>
          For more than 15 years, we have been successfully implementing IT projects in industry, telecommunications,
          logistics and finance sectors. At axxessio, we specialize in the implementation of digital transformation. Our
          concept for success is based on our sense for innovation combined with our passion for IT.
        </div>
      </div>
      <div class="group-card">
        <div class="wrapper-card wrapper-card_voice">
          <div class="round-card">
            <div class="card-white">
              <div class="icon-card">
                <img src="../assets/images/Voice_Icon_01.gif" />
              </div>
              <div class="info-card">
                <div class="name-card">
                  <h4>Voice Recognition</h4>
                </div>
                <div class="description-card">
                  Use the potential of voice input along your processes
                </div>
              </div>
            </div>
            <div class="card-dark">
              <div class="info-card info-card_down">
                <div class="name-card">
                  <h4>Voice Recognition</h4>
                </div>
                <div class="description-card">
                  Use the potential of voice input along your processes
                </div>
                <button class="more-info__btn">Read More ></button>
              </div>
            </div>
          </div>
        </div>
        <div class="wrapper-card wrapper-card_industry">
          <div class="round-card">
            <div class="card-white">
              <div class="icon-card">
                <img src="../assets/images/Industry_Icon_02.gif" />
              </div>
              <div class="info-card">
                <div class="name-card">
                  <h4>IOT/ Industry 4.0</h4>
                </div>
                <div class="description-card">
                  With the help of digital transformation, processes can be automated and free resources can be used
                  optimally
                </div>
              </div>
            </div>
            <div class="card-dark">
              <div class="info-card info-card_down">
                <div class="name-card">
                  <h4>IOT/Industry 4.0</h4>
                </div>
                <div class="description-card">
                  With the help of digital transformation, processes can be automated and free resources can be used
                  optimally
                </div>
                <button class="more-info__btn">Read More ></button>
              </div>
            </div>
          </div>
        </div>

        <div class="wrapper-card wrapper-card_smart">
          <div class="round-card">
            <div class="card-white">
              <div class="icon-card">
                <img src="../assets/images/SmartCity_Icon_03.gif" />
              </div>
              <div class="info-card">
                <div class="name-card">
                  <h4>Smart City</h4>
                </div>
                <div class="description-card">
                  Let's digitize cities and regions together
                </div>
              </div>
            </div>
            <div class="card-dark">
              <div class="info-card info-card_down">
                <div class="name-card">
                  <h4>Smart City</h4>
                </div>
                <div class="description-card">
                  Let's digitize cities and regions together
                </div>
                <button class="more-info__btn">Read More ></button>
              </div>
            </div>
          </div>
        </div>
        <div class="wrapper-card wrapper-card_intellig">
          <div class="round-card">
            <div class="card-white">
              <div class="icon-card">
                <img src="../assets/images/Intelligence_Icon_04.gif" />
              </div>
              <div class="info-card">
                <div class="name-card">
                  <h4>ARrtifical Intelligence</h4>
                </div>
                <div class="description-card">
                  Accelerate your workflows through the use of artificial intelligence
                </div>
              </div>
            </div>
            <div class="card-dark">
              <div class="info-card info-card_down">
                <div class="name-card">
                  <h4>ARrtifical Intelligence</h4>
                </div>
                <div class="description-card">
                  Accelerate your workflows through the use of artificial intelligence
                </div>
                <button class="more-info__btn">Read More ></button>
              </div>
            </div>
          </div>
        </div>

        <div class="wrapper-card wrapper-card_management">
          <div class="round-card">
            <div class="card-white">
              <div class="icon-card">
                <img src="../assets/images/Management_Icon_05.gif" />
              </div>
              <div class="info-card">
                <div class="name-card">
                  <h4>Identity Management</h4>
                </div>
                <div class="description-card">
                  Protect your data with digital access and identity controls
                </div>
              </div>
            </div>
            <div class="card-dark">
              <div class="info-card info-card_down">
                <div class="name-card">
                  <h4>Identity Management</h4>
                </div>
                <div class="description-card">
                  Protect your data with digital access and identity controls
                </div>
                <button class="more-info__btn">Read More ></button>
              </div>
            </div>
          </div>
        </div>
        <div class="wrapper-card wrapper-card_security">
          <div class="round-card">
            <div class="card-white">
              <div class="icon-card">
                <img src="../assets/images/IT_Security_Icon_06.gif" />
              </div>
              <div class="info-card">
                <div class="name-card">
                  <h4>IT Security</h4>
                </div>
                <div class="description-card">
                  Protect your IT systems and your network of information
                </div>
              </div>
            </div>
            <div class="card-dark">
              <div class="info-card info-card_down">
                <div class="name-card">
                  <h4>IT Security</h4>
                </div>
                <div class="description-card">
                  Protect your IT systems and your network of information
                </div>
                <button class="more-info__btn">Read More ></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper-video">
        <video class="video-part" autoplay loop>
          <source src="../assets/videos/Startseite_Unten.mp4" type="video/mp4" />
          <p>Your browser doesn't support to the video.</p>
        </video>
      </div>
      <div class="rubric">
        <div class="rubric-text">
          <h3>SERVICES</h3>
          We support you in realizing optimization potential in the environment of digital transformation. In doing so,
          we rely on proven tools as well as many years of expertise.
        </div>
      </div>

      <div class="group-service">
        <div class="box-service">
          <div class="image-service">
            <img src="../assets/images/Consulting.jpg" />
          </div>
          <div class="info-card">
            <div class="name-card">
              <h4>Digital consulting & innovation</h4>
            </div>
            <div class="description-card">
              Benefit from our many years of experience to successfully implement your business goals with the help
              of digital transformation. From strategy over planning to implementation, we actively support you.
            </div>
            <button class="more-info__btn more-info__btn_white more-info__btn_hover">Read More ></button>
          </div>
        </div>
        <div class="box-service">
          <div class="image-service">
            <img src="../assets/images/Software-Enginering.jpg" />
          </div>
          <div class="info-card">
            <div class="name-card">
              <h4>Software engineering</h4>
            </div>
            <div class="description-card">
              We support you with the realization of your project from architecture to implementation and
              maintenance. The use of agile process models ensures that we work in a close exchange with each other.
            </div>
            <button class="more-info__btn more-info__btn_white more-info__btn_hover">Read More ></button>
          </div>
        </div>
      </div>
      <div class="customers">
        <h3>Selected customers</h3>
        <div class="wrapper-logo">
          <img class="logo-customer" src="../assets/images/logos/Watt_logo.svg" alt="Logo Watt Energie für Unternehmen">
          <img class="logo-customer" src="../assets/images/logos/HRS_Hotelportal_logo.png" alt=" Logo HRS Hotelportal ">
          <img class="logo-customer" src="../assets/images/logos/Telekom_logo.svg" alt="Logo Telekom">
          <img class="logo-customer" src="../assets/images/logos/DHL_logo.svg" alt="Logo DHL">
          <img class="logo-customer" src="../assets/images/logos/Deutsche_Bank-logo.svg" alt="Logo Deutsche Bank">
          <img class="logo-customer" src="../assets/images/logos/Deutsche_Post_logo.png" alt="Logo Deutsche Post">
          <img class="logo-customer" src="../assets/images/logos/beethoven_logo.png" alt="Logo Beethoven 2020">
          <img class="logo-customer" src="../assets/images/logos/intrum_logo.png" alt="Logo Intrum">
          <img class="logo-customer" src="../assets/images/logos/cgm_logo.png" alt="Logo CGM">
          <img class="logo-customer" src="../assets/images/logos/DLR_logo.svg" alt="Logo DLR">
          <img class="logo-customer" src="../assets/images/logos/Bonn_logo.svg" alt="Logo Stadt City Ville Bonn">
          <img class="logo-customer" src="../assets/images/logos/Sanner_logo.svg"
            alt="Logo Scanner plasctiv packaging colutions">
          <img class="logo-customer" src="../assets/images/logos/T-Systems-logo.svg" alt="Logo T-Systems">
          <img class="logo-customer" src="../assets/images/logos/Deutsche_Bundesbank_logo.svg"
            alt="Logo Deutsche Bundesbank">
          <img class="logo-customer" src="../assets/images/logos/Vaillant-logo.svg" alt="Logo Vaillant">
          <img class="logo-customer logo-customer_bigger" src="../assets/images/logos/changying_logo.jpeg"
            alt="Logo CHangying Xinzhi Technology Co.,Ltd">
          <img class="logo-customer" src="../assets/images/logos/yinlun_logo.png" alt="Logo yinlun Co.,Ltd">
        </div>
      </div>
      <div class="wrapper-video">
        <video class="video-part" autoplay loop>
          <source src="../assets/videos/Startseite_Oben.mp4" type="video/mp4" />
          <p>Your browser doesn't support to the video.</p>
        </video>
      </div>

    </div>
    <section>
      <div></div>
    </section>
  </main>
  <footer class="footer">
    <div class="wrapper-footer">

      <div class="address">
        <p class="addresss__city">Bonn (Headquarters)</p>
        <p>axxessio GmbH</p>
        <p>Kürstenallee 5 • 53177 Bonn</p>
      </div>

      <div class="contact">
        <p>Phone +49 228 - 76 36 31 0</p>
        <p> Fax +49 228 - 76 36 31 3</p>
        <p>E-Mail info [at] axxessio.com</p>
      </div>
      <div class="wrapper-button">
        <button class="more-info__btn more-info__btn_brown">Directions ></button>
      </div>
    </div>
    <div class="wrapper-footer">

      <div class="address">
        <p class="addresss_city">Darmstadt (branch office)</p>
        <p>axxessio GmbH</p>
        <p>Hilpertstraße 20 • 64295 Darmstadt</p>
      </div>

      <div class="contact">
        <p>Phone +49 61 51 - 78 90 0</p>
        <p>Fax +49 61 51 - 78 90 23 0</p>
        <p>E-Mail info [at] axxessio.com</p>
      </div>
      <div class="wrapper-button">
        <button class="more-info__btn more-info__btn_brown">Directions ></button>
      </div>
    </div>
  </footer>
</div>
<div class="wrapper-cookie" *ngIf="isCookie">
  <p>
    Like almost all other websites, we use cookies - but only the technically necessary ones. By continuing to use the
    website, you agree to the use of cookies. You can find more information in our <a href="#">imprint</a>.</p>
  <div class="square-small" (click)="save()"><label class="arrow"></label></div>

</div>